<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99577529635-57k102vs747fkidb10fk4a3ujjcknt05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99577529635-57k102vs747fkidb10fk4a3ujjcknt05</string>
	<key>API_KEY</key>
	<string>AIzaSyDu8oEeu5OAaqwuYL1l-pbfAF2xtEl3Eyc</string>
	<key>GCM_SENDER_ID</key>
	<string>99577529635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vacinandoeduApp</string>
	<key>PROJECT_ID</key>
	<string>vacinandoeduapp</string>
	<key>STORAGE_BUCKET</key>
	<string>vacinandoeduapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99577529635:ios:dfb671c47d116563b73896</string>
	<key>DATABASE_URL</key>
	<string>https://vacinandoeduapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>